In [23]:
import pandas as pd
import sqlite3
import os

def parquet_to_sqlite(parquet_folder, sqlite_db_path, table_name):
    # Crear o conectar a la base de datos SQLite
    conn = sqlite3.connect(sqlite_db_path)
    
    # Leer todos los archivos Parquet en la carpeta
    for file in os.listdir(parquet_folder):
        if file.endswith(".parquet"):
            file_path = os.path.join(parquet_folder, file)
            # Leer el archivo Parquet en un DataFrame
            df = pd.read_parquet(file_path)
            # Escribir el DataFrame en la tabla de SQLite
            df.sample(10000).to_sql(table_name, conn, if_exists="append", index=False)
            print(f"Archivo {file} cargado exitosamente.")

    # Cerrar la conexión a la base de datos
    conn.close()

In [24]:

# Ejemplo de uso
parquet_folder = "./parquet_data"
sqlite_db_path = "nyc_taxi.db"
table_name = "records"

parquet_to_sqlite(parquet_folder, sqlite_db_path, table_name)

Archivo yellow_tripdata_2022-01.parquet cargado exitosamente.

In [25]:
# Conectar a la base de datos SQLite
conn = sqlite3.connect('nyc_taxi.db')

# Leer todos los datos de la tabla 'records' y cargarlos en un DataFrame
df = pd.read_sql_query("SELECT * FROM records", conn)

# Cerrar la conexión a la base de datos
conn.close()

In [26]:
df.columns

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'congestion_surcharge', 'airport_fee'],
      dtype='object')

In [27]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2022-01-14 10:26:55,2022-01-14 10:33:05,1.0,1.55,1.0,N,237,161,1,7.0,0.0,0.5,2.06,0.0,0.3,12.36,2.5,0.0
1,2,2022-01-15 15:59:34,2022-01-15 16:26:02,1.0,8.57,1.0,N,48,138,1,27.0,0.0,0.5,6.06,0.0,0.3,36.36,2.5,0.0
2,1,2022-01-23 16:25:18,2022-01-23 16:55:56,2.0,8.80,1.0,N,100,69,2,29.5,2.5,0.5,0.00,0.0,0.3,32.80,2.5,0.0
3,1,2022-01-04 17:26:46,2022-01-04 17:45:32,1.0,3.00,1.0,N,238,142,1,14.5,3.5,0.5,3.75,0.0,0.3,22.55,2.5,0.0
4,2,2022-01-31 14:37:10,2022-01-31 14:39:26,3.0,0.35,1.0,N,113,249,1,3.5,0.0,0.5,1.70,0.0,0.3,8.50,2.5,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2,2022-01-20 19:22:32,2022-01-20 19:39:06,1.0,2.85,1.0,N,162,249,1,13.0,1.0,0.5,2.00,0.0,0.3,19.30,2.5,0.0
9996,1,2022-01-09 19:57:54,2022-01-09 20:09:23,2.0,2.10,1.0,N,239,236,1,10.5,2.5,0.5,1.50,0.0,0.3,15.30,2.5,0.0
9997,2,2022-01-27 20:56:16,2022-01-27 21:00:25,5.0,1.09,1.0,N,48,142,1,5.5,0.5,0.5,1.00,0.0,0.3,10.30,2.5,0.0
9998,1,2022-01-28 16:53:23,2022-01-28 17:17:24,1.0,3.10,1.0,N,238,42,2,16.5,3.5,0.5,0.00,0.0,0.3,20.80,2.5,0.0
9999,1,2022-01-07 01:51:34,2022-01-07 01:59:31,1.0,1.50,1.0,N,90,230,1,6.5,3.0,0.5,2.05,0.0,0.3,12.35,2.5,0.0